// Colors

$brand-primary: #ffffff;
$brand-secondary: #000000; 
$brand-tertiary: #000000; 

$white: #ffffff;
$black: #000000; 

$font-color: $black; 
$font-color-slider: $white;

// Typography

$font-arial: 'Arial Narrow', arial;
$font-orbitron: 'Orbitron', sans-serif;

$font-lato: 'Lato', sans-serif;
$font-roboto: 'Roboto', sans-serif;


$navbar-mobile-background: $white;
$navbar-mobile-color:  $font-color;
$navbar-mobile-higlight-color: $brand-secondary;

/* FOOTER */
$footer-backgound: $black;
$footer-text: $white;



/* SIDE NAV */
$side-nav-color: $white;
$side-nav-background: $brand-primary;
$side-nav-separator: $white;


// Forms

$form-color: $white; 
$form-placeholder-color: #636363;
$form-border-color: #000000; ;
